body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
}
/* acacac */
.container{
    
    justify-content: center;
	padding: 20px 20px;
	height: auto;
	margin: 100px auto;
	border-radius: 5px;
}
.base{
	width: 100%;
	padding: 0 10px;
	margin: 0;
	overflow: hidden;
	display: block;
	float: none;
}
.block{
	width: 30%;
	padding: 5px 10px;
	margin: 0 auto;
	display: inline-block;
	float: left;
}
.base h4{
	font-size: 26px;
	text-align: left;
	font-family: verdana;
	font-weight: normal;
	letter-spacing: 0.5px;
	word-spacing: 2.7px;
	color: rgba(172, 172, 172, 0.938);
}
.enter{
	width: 100%;
	padding: 10px;
	margin: 0;
	display: block;
	float: none;
}
.title{
	font-size: 24px;
	text-align: left;
	font-family: verdana;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: 0.5px;
	word-spacing: 2.7px;
	color: #acacac;
}
input[type=number]{
	background-color: #ffffff;
	border: 2px solid orange;
	outline: none;
}
input[type=text] {
	width: 150px;
	margin: auto;
	outline: none;
	border: 2px solid #acacac;
	padding: 12px;
	background-color: #f7f7f7;
    color: #acacac;
    font-size: 17px;
}
select,input[type=text]:focus{
	background-color: #ffffff;
	border: 2px solid orange;
	outline: none;
}
input[type=number]:focus{
	background-color: #ffffff;
	border: 2px solid orange;
	outline: none;
}
input[type=button]{
	width: 150px;
	margin: auto;
	outline: none;
	border: none;
	border-radius: 10px;
	background-color: #6B62FF;
	color: #ffffff;
	padding: 14px 16px;
	text-align: center;
	font-size: 16px;
}
input[type=button]:hover{
	background-color: #6B62FF;
}
input[type=button]:active{
	background-color: #6B62FF;
}
#age{
	display: block;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
	font-family: verdana;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	word-spacing: 2.7px;
	color: #6B62FF;
}

.boxl{
    border: 3px solid  #6B62FF;
    border-radius: 10px;
}